// feature css
#feature{
    //title
    .title{
        text-align: left;
        margin-top:0 ;
        padding-top: 100px;
        background: linear-gradient(#9B1985,#F02287);
        clip-path: polygon(100% 0, 100% 100%, 0 56%, 0 0);

        h2{
            margin-bottom: 0.813rem;
        }

        .feature-middle{
            h2,p{
                color: $text-white;
            }
        }

        .feature-img{
            text-align: right;

            img{
                width: 70%;
            }
        }
    }

    //feature cards
    .margin-top-up{
        position: relative;

        .single-feature{
            background: $bg-white;
            margin-top: 1.875rem;
            padding: 2.5rem 2.5rem 2.438rem 3.125rem;
            position: relative;
            border-radius: 1.563rem;
            box-shadow: 0 0.938rem 2.5rem 0 rgb(0 0 0 / 8%);
            transition: all 0.2s ease-in;

            &:hover{
                color: $text-white;
                background: $bg-gradient;
            }
        }

        .feature_icon{
            width: 50px;
            height: 50px;
            line-height: 50px;
            text-align: center;
            position: absolute;
            top: 0;
            right: 0;
            margin-left: 3px;
            color: $text-white;
            font-size: 23px;
            border-bottom-left-radius: 25px;
            background: $bg-gradient;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;

            img{
                object-fit: cover;
                width: 1.8rem;
                height: 1.8rem;
            }
        }
    }
}
